.category-img{
    height: 75px;
    width: 75px;
}

.ing-cat-container{
    border: 2px solid black;
    border-radius: 15px;
}
#dairy{
    border-color: #007bff;
}
#meats{
    border-color: #dc3545;
}
#fruits-and-vegetables{
    border-color: #17a2b8;
}
#breads-grains{
    border-color: #6c757d;
}
#spices{
    border-color: #ffc107;
}
#condiments{
    border-color: #28a745;
}


@media only screen and (max-width:768px){
    .toggle {
        display: none;
    }
}

#nutrition-facts {
    width: 12%;
    display: none;
    border: 3px solid black;
    background-color: #007bff;
    opacity: .8;
}
#nutrition-facts div{
    border-bottom: 1px solid black;
}

#recipebtn a {
    color: aliceblue;
    
}

/* 
label.btn{
    padding: 0px;
} */