#search-btn{
    color:white;
    margin-top: 10px;
    margin: 5px;
    padding: 5px;
}

#back a{
    color: white;
    margin: 5px;
    padding: 5px;
}

#back a{
    margin-top: 10px;
}

img{
    width: 25%;
    height: 25%;
}